<html>

<head>
    <meta charset="utf-8">
    <title>Chart</title>
    <style>
        /* google chart のエラーメッセージを表示しない */
        [id^="google-visualization-errors"] {
            display: none;
        }

        .chart {
            padding-bottom: 20px;
        }
    </style>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Google Chart Tools -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>


    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="main" class="uk-container uk-margin-top">
            <!-- Durations -->
            <div id="durations" class="uk-margin" uk-switcher="toggle: > *; active: 1">
                <button class="uk-button uk-button-default" onclick="changeDuration('1s')">1s</button>
                <button class="uk-button uk-button-default" onclick="changeDuration('1m')">1m</button>
                <button class="uk-button uk-button-default" onclick="changeDuration('1h')">1h</button>
                <!-- <button class="uk-button uk-button-default" onclick="changeDuration('1d')">1d</button> -->
            </div>

            <!-- Tabs -->
            <div id="tabs">
                <ul uk-tab>
                    <li><a href="#">Indicator</a></li>
                    <li><a href="#">Simulation</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
                <ul class="uk-switcher uk-margin">
                    <!-- Indicators -->
                    <li>
                        <ul class="uk-list uk-list-divider" uk-accordion>
                            <li>
                                <a class="uk-accordion-title uk-text-default" href="#">EMA</a>
                                <div class="uk-accordion-content">
                                    <div>
                                        Enable <input id="inputEma" class="uk-checkbox" type="checkbox">
                                    </div>
                                    <div>
                                        Period
                                        <input id="inputEmaPeriod1" class="uk-input uk-form-small uk-form-width-xsmall"
                                            type="text" value="7">
                                        <input id="inputEmaPeriod2" class="uk-input uk-form-small uk-form-width-xsmall"
                                            type="text" value="14">
                                        <input id="inputEmaPeriod3" class="uk-input uk-form-small uk-form-width-xsmall"
                                            type="text" value="50">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title uk-text-default" href="#">BBands</a>
                                <div class="uk-accordion-content">
                                    <div>
                                        Enable <input id="inputBBands" class="uk-checkbox" type="checkbox">
                                    </div>
                                    <div>
                                        N <input id="inputBBandsN" class="uk-input uk-form-small uk-form-width-xsmall"
                                            type="text" value="20">
                                        K <input id="inputBBandsK" class="uk-input uk-form-small uk-form-width-xsmall"
                                            type="text" value="2">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title uk-text-default" href="#">RSI</a>
                                <div class="uk-accordion-content">
                                    <div>
                                        Enable <input id="inputRSI" class="uk-checkbox" type="checkbox">
                                    </div>
                                    <div>
                                        Period <input id="inputRSIPeriod"
                                            class="uk-input uk-form-small uk-form-width-xsmall" type="text" value="14">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title uk-text-default" href="#">MACD</a>
                                <div class="uk-accordion-content">
                                    <div>
                                        Enable <input id="inputMACD" class="uk-checkbox" type="checkbox">
                                    </div>
                                    <div>
                                        Short Period <input id="inputMACDShortPeriod"
                                            class="uk-input uk-form-small uk-form-width-xsmall" type="text" value="12">
                                        Long Period <input id="inputMACDLongPeriod"
                                            class="uk-input uk-form-small uk-form-width-xsmall" type="text" value="26">
                                        Signal Period <input id="inputMACDSignalPeriod"
                                            class="uk-input uk-form-small uk-form-width-xsmall" type="text" value="9">
                                    </div>
                                </div>
                            </li>
                            <hr>
                        </ul>
                    </li>
                    <!-- Simulation -->
                    <li>
                        <div>
                            Simulate <input id="inputEvents" class="uk-checkbox" type="checkbox">
                            <div>
                                Profit <span id="profit"></span>
                            </div>
                        </div>
                    </li>
                    <!-- Settings -->
                    <li>
                        <div>
                            <div>
                                Stop <input id="inputApiStop" class="uk-checkbox" type="checkbox">
                            </div>
                            <div>
                                Limit <input id="inputLimit" class="uk-input uk-form-small uk-form-width-xsmall"
                                    type="text">
                            </div>
                            <div>
                                Chart size <input id="inputChartSize" class="uk-input uk-form-small uk-form-width-xsmall"
                                    type="text">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Dashboard -->
            <div id="dashboard_div">
                <div id="chart_div" class="chart"></div>
                <div id="rsi_div" class="chart"></div>
                <div id="macd_div" class="chart"></div>
                <div id="volume_div" class="chart"></div>

                <div id="filter_div" class="chart"></div>
            </div>
        </div>
    </div>




</body>

</html>